{% extends "base_generic.html" %}

{% block content %}
  
  <div class="row">
    <div>
      <h1>Dastugo Library Book List</h1> 
    </div>  
    <div>
      {% if user.is_staff %}
        <a href="{% url 'book-create' %}">
          <button class="btn btn-outline-success"><i class="fas fa-plus text-success"></i> Add New Author</button>
        </a>
  
      {% endif %}
  
    </div>
  </div>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (<a href="{{ book.author.get_absolute_url }}"> {{ book.author }}</a> ) ({{book.author}})

        {% if user.is_staff %}
          <a href="{% url 'book-update' book.id %}" class="btn">
            <i class="far fa-edit"></i>
          </a>
          <a href="{% url 'book-delete' book.id %}" class="btn">
              <!-- <button><i class="far fa-trash-alt text-danger"></i></button> -->
              <i class="far fa-trash-alt text-danger"></i>
          </a>
         {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}